<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /Nebatech-AI-Academy/
    
    # Redirect all requests to public folder
    RewriteCond %{REQUEST_URI} !^/Nebatech-AI-Academy/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
